.content {
  // border: 3px solid red;
  padding-top: 2rem;
  // max-width: 1024px;
  margin: auto;

  h1 {
    color: white;
  }

  .experience-icons {
    font-size: 1.5rem;
    @media screen and (min-width: 580px) {
      font-size: 2rem;
    }
  }
}
