.content {
  // border: 3px solid red;
  padding-top: 2rem;
  // max-width: 1024px;
  margin: auto;

  h1 {
    color: white;
  }

  .project-link {
    background: black;
    outline: none;
    border: none;
    // border: 1px solid #e0bbf8;
    // box-shadow: 0 0 2px #e0bbf8;
    color: white;
    // margin-left: 1rem;
    font-size: 0.5rem;

    &:hover {
      background: black;
      box-shadow: 0 0 5px #e0bbf8;
      background: transparent;
    }
  }

  .project-icon {
    font-size: 2rem;
    color: white;

    &:hover {
      color: rgb(144, 253, 242);
      box-shadow: 0 0 15px rgb(64, 224, 208), inset 0px 0px 3px 3px rgba(64, 224, 208, 0.4);
      border-radius: 50%;
      // color: #e0bbf8;
      // box-shadow: 0 0 15px rgb(224, 187, 248), inset 0px 0px 3px 3px rgba(224, 187, 248, 0.4);
      // border-radius: 50%;
    }
  }

  .experience-icons {
    font-size: 1.5rem;
    @media screen and (min-width: 580px) {
      font-size: 2rem;
    }
  }
}
