.content {
  // border: 3px solid red;
  padding-top: 15rem;
  // max-width: 1024px;
  margin: auto;

  h1 {
    color: white;
  }

  .project-link {
    background: black;
    outline: none;
    border: none;
    padding: .35rem;
    color: white;
    font-size: 0.5rem;

    &:hover {
      background: black;
      box-shadow: 0 0 5px #e0bbf8;
      background: transparent;
    }
  }

  .icon-box {
    background: black;

    .project-icon {
      font-size: 2rem;
      color: white;
    }
    &:hover {
      background: black;
      box-shadow: 0 0 5px #e0bbf8;
      background: transparent;
    }
  }

  // .spiral-galaxy {
  //   position: relative;

  //   img {
  //     position: absolute;
  //     top: -500px;

  //   }
  // }

  .experience-icons {
    color: #60fcec;
    box-shadow: 0 0 3px #60fcec;
    font-size: 1.5rem;
    border-radius: .5rem;
    @media screen and (min-width: 580px) {
      font-size: 2rem;
    }
  }

  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: .2;
    }
  }
}

