
@import './styles/variables';
@import './styles/mixins';

@import './styles/clouds.scss';
@import './styles/twinkling-stars.scss';

header {
  text-align: center;
  background: transparent;
  position: absolute;
  width: 100%;
}
