@import "./styles/variables";
@import "./styles/mixins";

// Animations
@import "./styles/animations/clouds.scss";
@import "./styles/animations/twinkling-stars.scss";

// Layout 
@import "./styles/layout/header.scss";

// Content
@import "./styles/content.scss";

// Pages



// ===================== 
//     STRUCTURE
// =====================

// .App {
//   text-align: center;
//   width: 100%;
// }

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding: 3rem 0;
  z-index: 10;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

// header {
//   position: fixed;
//   width: 100%;
// }

// footer {

// }